html {
  font-family: "Noto Sans", sans-serif;
}

header {
  background: #FCD5D4;
  /*background: #FCEFE6;*/
  /*z-index: 1000;*/
}

.footertext{
  text-align: center;
  color: #FBDCDB;
}

p {
  color: white;
}

/*.sticky {
  width: 100%;
  position: fixed;
  top: 0px;
}*/

img {
  opacity: 0.7;
  transition: 0.5s ease;
}

img:hover{
  opacity: 1;
}

h1 {
  color: #FFFFFF;
  font-size: 200%;
  line-height: 99%;
  font-family: 'Shadows Into Light', cursive;
}

nav {
  font-size: 270%;
  text-align: center;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
}

nav a:hover {
  border-color: #F4ABAB;
  color: #F4ABAB;
}

@media only screen and (min-width: 60em) {

  ul {
    text-align: right;
  }


}
