html {
  font-family: "Noto Sans", sans-serif;
}

header {
  background: #FCD5D4;
  /*background: #FCEFE6;*/
  /*z-index: 1000;*/
}

.footertext{
  text-align: center;
  color: #FBDCDB;
}

/*.sticky {
  width: 100%;
  position: fixed;
  top: 0px;
}*/

img {
  opacity: 0.7;
  transition: 0.5s ease;
}

img:hover{
  opacity: 1;
}

h1 {
  color: #FFFFFF;
  font-size: 200%;
  line-height: 99%;
  font-family: 'Shadows Into Light', cursive;
}

nav {
  font-size: 270%;
  text-align: center;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
}

nav a:hover {
  border-color: #F4ABAB;
  color: #F4ABAB;
}

@media only screen and (min-width: 60em) {

  ul {
    text-align: right;
  }


}

h3,h4,h5{
  color: #F4ABAB;
}

hr {
  color: #FCEFE6;
}

/*<p>*/
/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 9%;
}

/* Control the right side */
.right {
  right: 9%;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 400px;
  padding-top: 20%;
}

p {
  color: black;
}
