<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %} Homepage {% if page.titleAfter %} · {{page.titleAfter}}{% endif %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alex+Brush|Allura|Italianno" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet">
</head>
<body>

  <header class="sticky">
    <div class="grid grid-middle push-1-2 wrapper">
      <div class="unit xs-1 s-1 m-1 l-1-2 pad-t-1-2 pad-b-1-2">
        <h1  itemprop="name" class="push-0">Paolina <br/> Missio</h1>
      </div>
      <div class="unit xs-1 s-1 m-1 l-1-2 pad-t-1-2 pad-b-1-2">
        <nav>
          <ul class="list-group-inline push-0">
          <li class="pad-t-1-4 pad-b-1-4 gutter-1-4"><a class="pad-t-1-8 pad-b-1-4 milli" href="{{site.baseurl}}/">Home</a></li>
            <li class="pad-t-1-4 pad-b-1-4 gutter-1-4"><a class="pad-t-1-8 pad-b-1-4 milli" href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

<main>
  {{content}}
</main>

<footer class="push-0 pad-t">
  <div class="grid pad-t">
    <div class="unit xs-1 s-1-2 push">
      <div class="text-center">
        <p itemprop itemscope="https://schema.org/Person" class="p-1 pad-t text-center">Paolina Missio © 2018</p>
      </div>
    </div>

  <footer class="pad-t inline-block">
  <div class="unit xs-1 s-1-2 push">
    <div class="social text-center">
      <ul class="list-group list-group-inline push-0 social-list">
        <li class="gutter-1-2">
          <a itemprop="url" class="social-icon-f inline-block" href="https://www.instagram.com/paolinamissio">
            <i itemscope itemtype="https://schema.org/VisualArtwork" class="icon icon-social"><img class="img-flex" src="{{site.baseurl}}/images/instagram-logo-01.svg" alt=""></i>
          </a>
          <a itemprop="url" class="social-icon-f inline-block" href="https://www.vimeo.com/paulinamissio">
            <i itemscope itemtype="https://schema.org/VisualArtwork" class="icon icon-social"><img class="img-flex" src="{{site.baseurl}}/images/logo-vimeo.svg" alt=""></i>
          </a>
        <a itemprop="email" class="social-icon-f inline-block" href="deathpocky@hotmail.com">
          <i itemscope itemtype="https://schema.org/VisualArtwork" class="icon icon-social"><img class="img-flex" src="{{site.baseurl}}/images/logo-email.svg" alt=""></i>
        </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>
  </footer>

</head>
</body>
