<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %} Homepage {% if page.titleAfter %} · {{page.titleAfter}}{% endif %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
</head>
<body>

  <header class="logo">
    <div class="grid grid-middle push-1-2 wrapper">
      <div class="unit s-1 s-1 m-1 l-1-3 xl-1-3">

        <a href="/" alt="home-button">
        <img class="i-64" src="{{site.baseurl}}/images/logo-02.svg" alt="watermark">
      </a>

      </div>
      <div class="unit xs-1 s-1 m-1 l-1-2 pad-t-1-2 pad-b-1-2">
        <nav>
          <ul class="list-group-inline push-0">
          <li class="pad-t-1-4 pad-b-1-4 gutter-1-4"><a class="milli" href="{{site.baseurl}}/">Home</a></li>
            <li class="pad-t-1-4 pad-b-1-4 gutter-1-4"><a class=" milli" href="{{site.baseurl}}/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

<main>
  {{content}}
</main>

<footer class="push-0 pad-t">
  <div class="grid pad-t">
    <div class="unit xs-1 s-1 m-1 l-1 xl-1push">
      <div>
        <p itemprop itemscope="https://schema.org/Person" class="p-1 text-left pad-t">Paolina Missio © 2018</p>
      </div>
    </div>

    <footer class="unit xs-1 s-1-2 pad-t inline-block">
      <div class="text-center">
        <ul class="unit xs-1 s-1 m-1 l-1 list-group push-0">
          <li class="social gutter-1-2">
            <a itemprop="url" class="inline" href="https://www.instagram.com/paolinamissio">
              <i itemscope itemtype="https://schema.org/VisualArtwork" class="icon icon-social"><img class="img-flex" src="{{site.baseurl}}/images/Instagram-logo-01.svg" alt=""></i>
            </a>
            <a itemprop="url" class="inline" href="https://vimeo.com/user71391240">
              <i itemscope itemtype="https://schema.org/VisualArtwork" class="icon icon-social"><img class="img-flex" src="{{site.baseurl}}/images/logo-vimeo.svg" alt=""></i>
            </a>
          <a itemprop="email" class="inline" href="https://www.redbubble.com/people/deathpocky?asc=u">
            <i itemscope itemtype="https://schema.org/VisualArtwork" class="icon icon-social"><img class="img-flex" src="{{site.baseurl}}/images/redbubble.png" alt=""></i>
          </a>
          <a itemprop="email" class="inline" href="deathpocky@hotmail.com">
            <i itemscope itemtype="https://schema.org/VisualArtwork" class="icon icon-social"><img class="img-flex" src="{{site.baseurl}}/images/logo-email.svg" alt=""></i>
          </a>
          </li>
        </ul>
      </div>
    </div>
    </footer>
</head>
</body>
